@tailwind base;
@tailwind components;
@tailwind utilities;

/* .swiper-pagination {
    position: relative;
    margin-top: 60px;
    display: flex;
    gap: 0px;
} */

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 100%;
    border-radius: 0px;
    height: 6px;
    margin: 0px;
    background-color: #DDD6D7;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:hover,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:hover{
    background-color: #231F20!important;
}

.swiper-pagination-bullet-active {
    background-color: #231F20!important;
}


@media (max-width: 768px) {
    .swiper-slide {
        width: calc(50% - 6px);
    }

}